{% extends "admin/base.html" %}
 {% load admin_static %}{% load i18n %}
 
 {% block branding %}
 <h1 id="site-name"><a href="{% url 'admin:index' %}">Django Administration</a></h1>
 {% endblock %}
 
 {% block nav-global %}
     <a href="{% static 'html/index.html'%}" target="_blank" class="icon"><i class="icon-th-list "></i>Backend Docs</a>
     <a href="{% static 'overview.html'%}" target="_blank" class="icon"><i class="icon-th-list "></i>Frontend Docs</a>
     <a href="{% url 'log-viewer:logfile-view' '' %}" target="_blank" class="icon"><i class="icon-th-list "></i>Log Files</a>
 {% endblock %}